* {
    margin: 0;
    padding: 0;
}


.banner-container {
    width: 1150px;
    height: 500px;
    border-radius: 16px;
    background-image: linear-gradient(180deg, rgba(7, 2, 17, 0.8) 0%, rgba(7, 2, 17, 0.00) 100%), url("./resources/Banner\ Image.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    margin: 30px auto;
    font-family: merriweather, sans-serif;
}

.banner-highlight {
    text-align: center;
    color: #fff;
    font-weight: 800;
    font-size: 50px;
    padding-top: 150px;
}

.ban-up-txt {
    font-weight: 400;
    font-size: 30px;
    line-height: 50px;
    padding-bottom: 20px;
}

.off {
    width: 650px;
    font-family: inter, sans-serif;
    text-align: center;
    margin: 80px auto;
}

.off-h1 {
    color: #f00;
    font-weight: 700;
    font-size: 80px;
    padding-bottom: 30px;
}

.off-p1 {
    color: #f00;
    font-weight: 500;
    font-size: 20px;
    padding-bottom: 10px;
}

.off-p2 {
    color: #070211;
    font-weight: 700;
    font-size: 42px;
}

.off-img {
    width: 600px;
}

.midnight-party-container {
    width: 1150px;
    height: 500px;
    border-radius: 16px;
    background-image: linear-gradient(90deg, rgba(7, 2, 17, 0.8) 0%,
     rgba(7, 2, 17, 0.00) 100%), url("./resources/Vectorrr.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    margin: 30px auto;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
}

.midnight-img {
    width: 40%;
}

.midnight-img>img {
    height: 380px;
}

.midnight-txt {
    width: 60%;
    padding-left: 120px;
}

.midnight-txt>h1{
    font-family: meriweather, sans-serif;
}

.midnight-txt>p, button{
    font-family: inter;
}

.midnight-txt>h1 {
    font-size: 60px;
    font-weight: 900;
    letter-spacing: 7px;
    line-height: 70px;
}

.midnight-txt>p {
    font-size: 20px;
    font-weight: 400;
    line-height: 28px;
    color: rgba(255, 255, 255, 0.80);
    padding-top: 25px;
}

.midnight-txt>button {
    font-size: 20px;
    font-weight: 700;
    color: #fff;
    border: none;
    background-color: transparent;
    padding-top: 25px;
    padding-left: 30px;
}

.event-container {
    width: 1150px;
    height: 400px;
    text-align: center;
    background: linear-gradient(180deg, rgba(255, 0, 0, 0.10) 0%, 
    rgba(255, 0, 0, 0.00) 100%);
    margin: 80px auto;
    font-family: inter, sans-serif;
}

.event-container>div>p {
    font-size: 30px;
    font-weight: 600;
    line-height: 50px;
}

.event-container>div {
    padding-top: 80px;
}

.event-container>div>p>span {
    color: #f00;
}

.event-container>button {
    color: #fff;
    background-color: #f00;
    border: none;
    border-radius: 10px;
    font-size: 20px;
    font-weight: 700;
    padding: 13px 25px;
    margin-top: 60px;
}

.newsletter-container {
    width: 1150px;
    height: 500px;
    margin: 80px auto;
    border-radius: 16px;
    background-color: rgba(233, 138, 138, 0.2);
    text-align: center;
}

.newsletter-container > img {
    width: 120px;
    height: 120px;
    padding-top: 60px;
}

.newsletter-container > h2 {
    color: #070211;
    font-size: 45px;
    font-weight: 900;
    padding-top: 30px;
    font-family: merriweather, sans-serif;
}

.newsletter-container > p {
    color: rgba(7, 2, 17, 0.60);
    font-size: 20px;
    font-weight: 400;
    padding-top: 10px;
    font-family: Impact, sans-serif;
}

.newsletter-container > div >.input-field {
    border: none;
    padding: 15px 30px;
    background-color: rgba(255, 255, 255, 1);
    border-radius: 30px 0px 0px 30px;
    width: 280px;
    position: relative;
    left: 4px;
    color: rgba(7, 2, 17, .80);
    font-size: 18px;
    font-weight: 400;
    font-family: inter, sans-serif;
}

.subscribe-btn{
    border: none;
    padding: 15px 30px;
    background-color: rgba(255, 255, 255, 1);
    border-radius: 0px 30px 30px 0px;
    color: #fff;
    background: #f00;
    margin-right: -10px;
    font-size: 18px;
    font-weight: 600;
    font-family: inter, sans-serif;
}

.input-container{
    padding-top: 60px;
}

footer {
    width: 100%;
    height: 550px;
    background: #070211;
    color: #fff;
    font-size: 24px;
    font-weight: 500;
    font-family: inter, sans-serif;
}

a{
    color: #fff;
    text-decoration: none;
}

.iocn-txt-flx{
    display: flex;
    gap: 10px;
}

.main-flex{
    display: flex;
    justify-content: space-between;
    padding-top: 120px;
    padding-bottom: 45px;
}

.total-content{
    width: 1150px;
    margin: 0px auto;
}

hr{
    border: 1px solid rgba(255, 255, 255, 0.15);
}

.social-icon{
    display: flex;
    justify-content: center;
    gap: 20px;
    padding-top: 30px;
    padding-bottom: 30px;
}

.bottom-part{
    display: flex;
    justify-content: space-between;
    padding-top: 45px;
}

.gift-container{
    width: 1150px;
    margin: 80px auto;
}

.gift-container>h3{
    font-size: 20;
    font-weight: 500;
    color: #f00;
    padding-bottom: 20px;
    font-family: inter, sans-serif;
}

.gift-container>h2{
    font-size: 45px;
    font-weight: 900;
    color: #070211;
    padding-bottom: 10px;
    font-family: merriweather, sans-serif;
}

.gift-container>p{
    color: rgba(7, 2, 17, 0.60);
    font-size: 20px;
    font-weight: 400;
    font-family: inter, sans-serif;
}

.gift-img{
    width: 1150px;
    margin: 30px auto;
}

.row1{
    display: flex;
    justify-content: space-between;
    padding-bottom: 25px;
}

.row1>div>img{
    width: 360px;

}

.row1 div {
    transition: .3s ease-in-out;
}

.row1 div:hover {
    opacity: .5;
}